<h1>
    <img src="{{ absolute_url(asset('img/Louvre-LOGO.png')) }}" width="300px;">  
</h1>
<p>
    Merci d'avoir commandé vos billet sur notre site.<br>
</p>

<h3>Vos billets : </h3>

{% for ticket in listTickets %}
   Billet {{loop.index}} : <br>
<fieldset >
    <p>
        Nom : {{ ticket.visitor.surname }} <br>
        Prénom : {{ ticket.visitor.name }} <br>
        Pays : {{ ticket.visitor.country }} <br>
        Prix : {{ ticket.price }} <br>
    </p>
    
    {% if ticket.visitor.reduction == true %}
    <p>* BILLET A TARIF REDUIT</p>
    {% endif %} 
</fieldset>
{% endfor %}

<br>

<p>
    * Il vous sera demmandé un justificatif à l'entrée musée pour bénéficier d'un tarif réduit.
</p>



