{% extends '@OCLouvre/Default/index.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <section class="section-home" id="home">
            <h1>Musée du
                <br>
                <span>LOUVRE</span>
            </h1>
            <div class="form-container card col-lg-6 col-xs-12 col-md-10 col-sm-10">
                <h3>Billeterie:</h3>

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.dateVisite, "Date de votre visite", {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_errors(form.dateVisite) }}
                    {{ form_widget(form.dateVisite, {'attr': {'class': 'form-control datepicker'}}) }}
                </div>

                <hr>
                

                {# store the prototype on the data-prototype attribute #}
                <ul id="ticket-fields-list" class="form-group" 
                    data-prototype="{{ form_widget(form.tickets.vars.prototype)|e }}" 
                    data-widget-tags="{{ '<li></li>'|e }}">
                {% for ticketField in form.tickets %}
                
                    <li>
                        {{ form_widget(ticketField) }}
                    </li>
                {% endfor %}
                </ul>

                <a href="#" class="btn btn-default my-3 mb-3 text-primary add-another-collection-widget" data-list="#ticket-fields-list">Ajouter un billet</a>
                
                <div class="form-group">
                    {{ form_errors(form.emailSend) }}
                    {{ form_widget(form.emailSend, {'attr': {'class': 'form-control'}}) }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-warning mt-3 mb-3 float-right text-white'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </section>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset ('js/datepicker.js')}}" type="text/javascript"></script>
    <script src="{{ asset ('js/add-collection-widget.js')}}" type="text/javascript"></script>
{% endblock %}