<section id="tarifs" class="section-content section-tarifs hide">
    <div class="section-tarifs-header">
        <h2>Tarifs :
        </h2>
        <span id="tarifsClose" class="close">X</span>
    </div>

    <div class="section-tarifs-container row">

      <div class="tarifs-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="tarifs-content">
                <div class="tarifs-content-header">Baby</div>
                <div class="tarifs-content-body">
                    <p>moins de 4ans
                        <br>
                        <span class="tarifs">{{ prices['baby'] }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarifs-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="tarifs-content">
                <div class="tarifs-content-header">Enfant</div>
                <div class="tarifs-content-body">
                    <p>de 4 à 12ans
                        <br>
                        <span class="tarifs">{{ prices['enfant'] }}€</span>
                    </p>
                </div>
            </div>
          </div>
        <div class="tarifs-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="tarifs-content">
                <div class="tarifs-content-header">Normal</div>
                <div class="tarifs-content-body">
                    <p>à partir de 12ans
                        <br>
                        <span class="tarifs">{{ prices['normal'] }}€</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarifs-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="tarifs-content">
                <div class="tarifs-content-header">Senior</div>
                <div class="tarifs-content-body">
                    <p>à partir de 60ans
                      <br>
                      <span class="tarifs">{{ prices['senior'] }}€</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tarifs-section-content col-lg-2 col-md-6 col-sm-6 col-xs-10">
            <div class="tarifs-content">
                <div class="tarifs-content-header">Réduit</div>
                <div class="tarifs-content-body">
                  <p class="reduit">(étudiant, militaire…)
                    <br>
                    <span class="tarifs">{{ prices['reduit'] }}€</span>
                  </p>
                </div>
            </div>
        </div>
        <br>
        <p class="col-12">tarifs demi-journée : {{ prices['halfday'] }}€</p>
        <p class="condition col-12">Il vous sera demmandé un justificatif à l'entrée musée pour bénéficier d'un tarif réduit.</p>
        </div>
    </div>
</section>